fastapi==0.110.1
uvicorn==0.25.0
motor==3.3.1
pymongo==4.5.0
python-dotenv==1.0.1
python-multipart==0.0.9
gliner>=0.2.0
spacy>=3.7.0
spacy-curated-transformers>=0.2.0
huggingface-hub>=0.20.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio